@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 1px solid #c4c4c4;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: .5rem 1rem;
}
.form-control {
  width: 50vw;
}
label {
  display: block;
}
.invalid-feedback{
  color: red;
  font-size: small;
}
